body {
    box-sizing: border-box;
    text-align: center;
}

#loginOpen {
    text-align: center;
    display: inline-block;
    height: 60px;
    width: 100px;
}

input, button {
    margin: 10px;
    padding: 5px;
}

.hiddenBtn {
    display: none;
}

#gallery {
    margin-right: auto;
    margin-left: auto;
}
.row {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

img {
    margin: 5px;
    width: 200px;
    transition: all 1s;
}
img:hover {
    transform: scale(1.1);
}
